*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    margin: auto;
    padding: 30px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px #888888;
    width: 400px;
}
.display{
    margin-bottom: 10px;
}
input[type="text"]{
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    padding-right: 5px;
    border: none;
    background-color: #dfd8d8;

}
.button{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}
button{
    height: 40px;
    font-size: 20px;
    background-color: #b2d1e4;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #666968;
}
.calculate{
    background-color: #248829;
}
.calculate:hover{
    background-color: #2d4732;

}